.hero__inner{
    position: relative;
    top: 0;
    left: 0;
    clip-path: polygon(83% 0, 0 0, 0 100%, 17% 100%);
    // clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.half-banner{
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(83% 0, 100% 0, 100% 100%, 17% 100%);
    // clip-path: polygon(100% 100%, 0% 100%, 100% 0);
}